<div class="list jsday-palestras" ng-click="palestraClick()">

    <div class="item item-body palestra-titulo" ng-hide="palestra.servico">
        <p>
            <strong>{{palestra.nome}}</strong>
        </p>
        <img class="full-image" src="{{palestra.capa}}">
    </div>

    <div class="item palestra-header" ng-hide="palestra.servico">
        <strong class="avatar" style="background-image: url({{palestra.autor.avatar}});"></strong>
        <div class="dados">
            <strong>{{palestra.autor.nome}}</strong>
            <em class="palestra-hora"><i class="ion-ios-clock-outline"></i> {{palestra.horaExtenso}}</em>
        </div>
    </div>

    <div class="item" ng-show="palestra.servico">
        <span class="servico-titulo">{{palestra.nome}}</span>
        <span class="servico-hora"><i class="ion-ios-clock-outline"></i> {{palestra.horaExtenso}}</span>
    </div>

</div>
