<ion-view title="Palestra">
    <jsday-app-bar back="true" acao="btnVoltar()"></jsday-app-bar>

    <jsday-fab icone="ion-plus" acao="addClick()"></jsday-fab>

    <ion-tabs class="tabs-energized abas">

        <ion-tab title="Palestra">
            <ion-content class="area-com-barra padding">

                <div class="autor list">
                    <div class="linha">
                        <span class="avatar" style="background-image: url({{palestra.autor.avatar}});"></span>
                        <div class="dados">
                            <strong>{{palestra.autor.nome}}</strong>
                            <div class="bio">{{palestra.autor.bio}}</div>
                        </div>
                    </div>
                    <div class="linha">
                        <div class="redes">
                            <a ng-repeat="rede in palestra.autor.redes" href="{{getUrl(rede.tipo, rede.valor)}}" target="_blank"><i class="icon ion-{{rede.tipo}}"></i></a>

                            <a href="{{palestra.slide}}" target="_blank" class="slides" ng-show="showSlides">
                                <i class="icon ion-android-download"></i>&nbsp;slides
                            </a>
                        </div>
                    </div>
                </div>

                <div class="sessao-palestra">
                    <h3>{{palestra.nome}}</h3>

                    <img src="{{palestra.capa}}" alt="{{palestra.nome}}" class="capa">

                    <p class="descricao padding">{{palestra.descricao}}</p>
                </div>

                <div class="sessao-rating">
                    <span class="rate">Avalie esta Palestra</span>
                    <rating ng-model="rate.avaliacao" max="rate.max" ng-click="rateClick()"></rating>
                </div>

            </ion-content>
        </ion-tab>

        <ion-tab title="Notas">
            <ion-content class="area-com-barra padding">

                <jsday-nova-nota palestra="key"></jsday-nova-nota>
                <jsday-sem-conteudo conteudo="nota" ng-hide="notas.length"></jsday-sem-conteudo>

                <div class="padding nota" ng-repeat="nota in notas" on-hold="onHoldNota(nota.id)">
                    {{nota.text}}
                </div>

            </ion-content>
        </ion-tab>

        <ion-tab title="Comentários">

            <ion-content class="area-com-barra">
                <jsday-sem-conteudo conteudo="comentario" ng-hide="comentarios.length"></jsday-sem-conteudo>
                <jsday-comentario ng-repeat="comentario in palestra.comentarios" comentario="comentario"></jsday-comentario>
            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
