@import "ionic.app";

/*
directive: jsday-app-bar
*/
.jsday-app-bar {
    background-image: url(../img/jsdayback.jpg);
    background-size: cover;
    background-position: center center;

    height: 180px;
    z-index: 9999;

    & .voltar {
        text-decoration: none;
        margin: .5em;
        width: 25px;
        height: 25px;
        display: inline-block;

        & img {
            width: 100%;
        }
    }
}

/*
directive: jsday-palestras
*/
.jsday-palestras {
    & strong {
        font-size: 1.2em;
        color: #666;
    }

    & .servico-titulo, & .servico-hora {
        display: block;
        text-align: center;
    }
    & .servico-titulo {
        color: #666;
        font: {
            size: 1.1em;
            weight: bold;
        }
    }
    & .servico-hora {
        color: #FF9800;
    }

    & .palestra-hora {
        color: #FF9800;
        font-size: 1.1em;
    }
}

.dia {
    display: block;
    text-align: center;
}

.abas {
    & .tab-title {
        color: $assertive;
    }
    & .aba {
        padding: 180px .5em .5em;
    }
}

.area-com-barra {
    margin-top: 181px;
    padding: .5em;
}
