@import "ionic.app";
@import "flex";
@import "css3-mixins";

/*
* importa directives
*/
@import "directives/jsday-app-bar";
@import "directives/jsday-palestras";
@import "directives/jsday-nova-nota";

* {
    box-sizing: border-box;
}

/*
* Mixins
*/
%flex-center-center {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}

%flex-center-left {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
}

%flex-center-right {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
}

%flex-center-bottom {
    @include flexbox;
    @include justify-content(center);
    @include align-items(flex-end);
}

%flex-center-top {
    @include flexbox;
    @include justify-content(center);
    @include align-items(flex-start);
}

%cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
* demais styles
*/

.abas {
    & .tab-title {
        color: $assertive;
    }
    & .tab-item-active {
        border-color: $assertive !important;
    }
}

.area-com-barra {
    margin-top: 180px;
    padding: .5em;
    //background-color: rgba(255, 201, 0, .1);
    background-color: #f5f5f5;
}

.autor {
    & .linha {
        @extend %flex-center-left;
        @include align-items(flex-start);
    }

    & .avatar {
        @extend %cover;
        width: 84px;
        height: 84px;
    }

    & .dados {
        @include flex-grow(1);
        padding: .5em;
        width: 70%;

        & strong {
            display: block;
            color: #666;
            font-size: 1.2em;
        }

        & .bio {
            white-space: normal;
            font-size: .8em;
            line-height: normal;
            color: #666;
        }
    }

    & .redes {
        @extend %flex-center-left;

        & a {
            text: {
                decoration: none;
            }
            display: inline-block;
            padding: .3em .6em;
            background-color: #999;
            color: #fff;
            margin: .2em;
            font-size: 1em;

            @include border-radius(3px);
        }
    }
}

.sessao-palestra {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ccc;

    & h3 {
        text-align: center;
        line-height: normal;
        color: #333;
        font-size: 1.4em;
        font-family: "CodeNewRoman", Arial, SansSerif, "DejaVu Sans";
        margin-bottom: 1em;
    }

    & .capa {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    & .descricao {
        font-family: "CodeNewRoman", Arial, SansSerif, "DejaVu Sans";
        font-size: 1.05em;
        text-align: justify;
        color: #666;
        line-height: normal;
    }
}

.sessao-rating {
    border-top: 1px solid #ccc;
    padding: 1em;
    text-align: center;

    & span.rate {
        display: block;
        color: #666;
    }
}

.nota {
    background-color: #FFF8E1;
    color: #666;
    font-family: "CodeNewRoman", Arial, SansSerif, "DejaVu Sans";
}
